@model Patatzaak.ViewModels.ProductOrder
@{
    ViewData["Title"] = "AddProductToOrder";
}
@{
    decimal orderprice = 0;
}
<h1>Products</h1>
<form asp-action="AddProduct">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Sale
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model.Products)
            {
                OrderItem orderItem = new OrderItem()
                {
                    ProductId = Product.Id,
                    OrderNr = Model.Order.OrderNr,
                    Amount = 0
                };
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Sale)
                    </td>
                    <td>
                        <a asp-action="AddProduct" asp-route-productId="@Product.Id" asp-route-orderNr="@Model.Order.OrderNr">Add</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


<h2>Your Order</h2>

@if (Model.ProductsInOrder == null)
    {
    <div>no products yet</div>
    }
else
    {
     <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Sale
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Sale price
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model.ProductsInOrder)
            {

                var orderItem = Model.Items.FirstOrDefault(oi => oi.ProductId == product.Id);
                decimal saleprice = product.Price / 100 * (100 - product.Sale);
                decimal totalprice = orderItem.Amount * saleprice;
                orderprice = orderprice +totalprice;
                

                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Price)
                    </td>
                    <td>
                        @product.Sale
                    </td>
                    <td>
                        @orderItem.Amount
                    </td>
                    <td>
                        @saleprice
                    </td>
                    <td>
                        @totalprice
                    </td>
                    <td>
                        <a class="action-link delete-link" asp-action="Delete" asp-controller="OrderItems" asp-route-orderNr="@orderItem.OrderNr" asp-route-productId="@orderItem.ProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3> Total Order Price</h3>
    <div> @orderprice</div>
}

  

    